.c:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.c{display:inline-block}
* html .c{height:1%}
.c{display:block}
ul,li{margin: 0;padding: 0;list-style: none}
.row{margin: 0;font-size: 16px}
th{font-weight: 100}
.mt10{margin-top:10px}
.form-inline .tip{background: url(../images/equipmentMonitor01.png) no-repeat;width: 16px;height:16px;overflow: hidden;display: inline-block;margin-left: 5px;margin-right:15px;}
.content .box-success{border: 0}
.cbox{margin-top: 10px;font-family:\5fae\8f6f\96c5\9ed1;font-size: 16px}
.cbox-1,.cbox-2,.cbox-3{float: left;display: inline;background: #fff;height: 500px;overflow: hidden;}
.cbox-1{width: 35%}
.cbox-2{width: 55%;background: none;font-size: 16px}
.cbox-3{width: 10%}
.cbox-1 .tit{text-align: center;font-size: 20px;padding: 20px 0}
.cbox-1 .tit span{font-size: 24px;color: #0A97FF}
.cbox-1 .zbox{background: #F2F5F5;height: 408px;width:555px;position: relative;margin-left:16px;}
.cbox-1 .zbox ul{float: left;padding-left: 15px;padding-top: 20px}
.cbox-1 .zbox li{border-bottom: 1px #E2E2E2 solid;width: 180px;overflow: hidden;padding-top: 23px}
.cbox-1 .zbox li.end{border-bottom: none}
.cbox-1 .zbox .img{height: 42px;padding-left: 60px;background: url(../images/equipmentMonitor02.png) no-repeat left top;background-size:55px;margin-bottom: 23px;}
.cbox-1 .zbox .img span{display: block;color: #606060}
.cbox-1 .zbox .img em{display: block;color: #000;font-style: normal;font-size: 16px}
.cbox-1 .zbox .pic{width: 330px;height: 260px;float: right;position: absolute;top:80px;right:15px}
.cbox-2 .zbox{margin-right: 10px;margin-left: 10px;background: #fff;height: 245px;overflow: hidden;position: relative;}
.cbox-2 .zbox .line{border-top: 1px #E2E2E2 solid;height: 1px;overflow: hidden; width:98%;position: absolute;top:145px;left:10px;}
.cbox-2 p,.cbox-3 p{height: 50px;line-height: 50px;padding-left: 15px;margin: 0;border-bottom: 1px #E2E0E0 solid;font-size: 20px}
.cbox-2 .pa {padding: 0 10px}
.cbox-2 .pa li{float: left;padding: 0 5px}
.cbox-2 .pa li span{display: block;text-align: center;color: #939393;padding: 15px 5px 20px}
.cbox-2 .pa li em{display: block;text-align: center;color: #000;font-style: normal;padding-bottom: 20px}
.cbox-3 li{list-style: none;text-align: center;}
.cbox-3 .img{background: url(../images/equipmentMonitor02.png) no-repeat;background-size:100%;width: 57px;height:42px;margin: 30px auto 20px}
.cbox-3 span{color: #939393}
.cbox-3 em{font-style: normal;display: block;color: #000}
.bBox{margin-top: 10px;}
.bBox .bgfff{width: 50%;float: left;}
.bBox .con{background: #fff;height: 300px;}
.bBox .ml5{margin-left: 5px;}
.bBox .mr5{margin-right: 5px;}
.bBox .tit{position: relative;border-bottom: 1px #E2E0E0 solid; height: 50px;line-height: 50px}
.bBox .tit{position: relative;border-bottom: 1px #E2E0E0 solid; height: 50px;line-height: 50px}
.bBox .tit strong{font-size: 20px;font-weight: 100;padding-left: 15px;}
.bBox .tit .input-group{float: right;margin-top: 8px}
.bBox .tit .date{float: right;height: 34px;line-height: 34px;border: 1px #d2d6de solid;font-size: 14px;margin-top: 8px;margin-left: 10px;margin-right: 10px;width: 130px;background: url(../images/icon03.png) no-repeat right 6px;padding-left:5px;}
.ebox{height: 250px;}
.input-group .select2-container .select2-selection--single{height: 34px}
.input-group .select2-container--default .select2-selection--single{border-radius:0;border-color: #d2d6de}
.input-group .select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 14px}
.select2-container--default{font-size: 14px !important}
#ok{background: #20A0FF;border-radius:3px;border:1px #00acc1 solid;padding: 6px 12px;display: inline-block;font-size: 14px;line-height: 1.42857143;color: #fff;margin-left: 20px;cursor: pointer;}

/* equType2 and equType3 */
.equType2 .cbox .cbox-3, .equType3 .cbox .cbox-3{display: none;}
.equType2 .cbox .cbox-2, .equType3 .cbox .cbox-2{width: 65%;}
.equType2 .cbox-2 .zbox{margin-right: 0;}
.equType3 .cbox .run1Con{height: 500px;margin-right:0;}
.equType3 .cbox .zbox .line{top:280px}
.equType3 .cbox .run1Con li{width: 240px;height: 190px;border: 1px #fff solid;margin: 20px 10px;background: url(../images/equipmentMonitor02.png) no-repeat center 30px;}
.equType3 .cbox .run1Con li span{margin-top: 95px;padding: 15px 5px 5px;}
.equType2 .base{float: left;clear: left;padding-left: 75px;background: url(../images/equipmentMonitor02.png) no-repeat 16px center;background-size:55px}
.equType2 .base span{display: block;font-size: 14px;padding: 17px 0 3px}
.equType2 .base em{font-style: normal;}








